In [37]:
#PRINT FUNCTION
def printResults(records):
    print('\t'.join([str(r).ljust(15) for r in records[0].keys()]))
    for record in records:
        print('\t'.join([str(r).ljust(15) for r in record.values()]))

In [38]:
#CONNECTING SQL SERVER
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             cursorclass=pymysql.cursors.DictCursor)

In [39]:
#CREATE AND USE COMMAND FOR SPORTCLUB DATABASE
with connection.cursor() as cursor:
    cursor.execute("drop database if exists SportClub")
    cursor.execute("create database SportClub")
    cursor.execute("use SportClub")

In [40]:
#CREATING TABLES
with connection.cursor() as cursor:
    #CUSTOMER TABLE
    cursor.execute("create table customer("+
                   "c_id int not null,"+
                   "c_name varchar(20),"+
                   "c_gender varchar(10),"+
                   "c_age int,"+
                   "primary key (c_id))")
    #GYM TABLE
    cursor.execute("create table gym("+
                   "g_id int not null,"+
                   "g_name varchar(20),"+
                   "primary key (g_id) )")        
    #PERSONAL TRAINER
    cursor.execute("create table personal_trainer("+
                   "pt_id int not null,"+
                   "pt_name varchar (20),"+
                   "pt_age int,"+
                   "primary key(pt_id))")
    #SUBSCRIBE TABLE
    cursor.execute("create table subscribe("+
                   "c_id int not null,"+
                   "g_id int not null,"+
                   "s_start_date date,"+
                   "s_end_date date,"+
                   ##i use this structure for deleting all c_id element from another tables at the same time.
                   "constraint foreign key (c_id) references customer(c_id) on delete cascade,"+
                   "constraint foreign key (g_id) references gym(g_id) on delete cascade)")
    #WORKS TABLE 
    cursor.execute("create table works("+
                   "pt_id int not null,"+
                   "g_id int not null,"+
                   "constraint foreign key (pt_id) references personal_trainer(pt_id) on delete cascade,"+
                   "constraint foreign key (g_id) references gym(g_id) on delete cascade)")
                   #"constraint FK_PTworks foreign key (pt_id) references personal_trainer(pt_id) on delete cascade,"+
connection.commit()

In [41]:
#customer values USING ARRAYS  1st way
customers=[(1,'baris','male',22),
           (2,'kemal','male',25),
           (3,'arda','male',15),
           (4,'gamze','female',54),
           (5,'isil','female',46),
           (6,'nur','female',37),
           (7,'aleyna','female',62),
           (8,'berk','male',23),
           (9,'begum','female',64),
           (10,'begum','female',44),
           (11,'sadi','male',53),
           (12,'mert','male',27),
           (13,'arda','male',39),
           (14,'nisa','female',49),
           (15,'acun','male',25),
           (16,'cem','male',75),
           (17,'basak','female',32),
           (18,'kerem','male',38)]
with connection.cursor() as cursor:
    for i in range (len(customers)):
        cursor.execute(f"insert into customer(c_id, c_name, c_gender,c_age) values{customers[i]}")
connection.commit()
#gym values USING ARRAYS 
gym=[(1,'Nisantasi'),
     (2,'Levent'),
     (3,'Hadimkoy')]
with connection.cursor() as cursor:
    for i in range (len(gym)):
        cursor.execute(f"insert into gym(g_id, g_name) values{gym[i]}")
connection.commit()
#personal trainer values USING ARRAYS  
personal_trainers=[(1,'omer',25),
                   (2,'carolin',24),
                   (3,'mark',22),
                   (4,'mert',32),
                   (5,'oyku',18),
                   (6,'yagmur',24),
                   (7,'umut',38),
                   (8,'polat',40),
                   (9,'adnan',48)]
with connection.cursor() as cursor:
    for i in range (len(personal_trainers)):
        cursor.execute(f"insert into personal_trainer(pt_id, pt_name,pt_age) values{personal_trainers[i]}")
connection.commit()
#subscribe  values USING ARRAYS  1st way
subscribe=[(1,1,'2019-01-05','2020-01-05'),
           (1,2,'2019-06-10','2019-12-10'),
           (2,3,'2019-04-15','2019-07-15'),
           (3,3,'2019-04-15','2019-07-15'),
           (4,1,'2020-01-05','2021-01-05'),
           (5,2,'2020-10-25','2021-04-25'),
           (6,3,'2020-3-11','2021-6-11'),
           (7,1,'2020-04-05','2020-07-05'),
           (8,2,'2020-12-23','2021-12-23'),
           (9,3,'2020-12-05','2022-12-05'),
           (10,1,'2020-12-13','2023-12-13'),
           (11,2,'2020-09-10','2023-09-10'),
           (12,3,'2019-01-05','2024-01-05'),
           (13,1,'2018-04-12','2021-03-12'),
           (14,2,'2019-03-06','2019-03-06'),
           (15,3,'2019-09-20','2020-09-20'),
           (16,1,'2018-01-01','2019-01-01'),
           (17,2,'2020-01-20','2020-02-29'),
           (18,3,'2020-04-12','2020-10-12')]
with connection.cursor() as cursor:
    for i in range (len(subscribe)):
        cursor.execute(f"insert into subscribe(c_id, g_id,s_start_date,s_end_date) values{subscribe[i]}")
#works values USING ARRAYS  
works=[(1,1),
       (2,2),
       (3,3),
       (4,1),
       (5,2),
       (6,3),
       (7,1),
       (8,2),
       (9,3),]
with connection.cursor() as cursor:
    for i in range (len(works)):
        cursor.execute(f"insert into works(pt_id, g_id) values{works[i]}")
connection.commit()

In [42]:
#printing all values
with connection.cursor() as cursor:
    cursor.execute("select * from customer")
    result=cursor.fetchall()
printResults(result)
print("----------------------------------------------------------------------------------------------")
with connection.cursor() as cursor:
    cursor.execute("select * from gym")
    result=cursor.fetchall()
printResults(result)
print("----------------------------------------------------------------------------------------------")
with connection.cursor() as cursor:
    cursor.execute("select * from personal_trainer")
    result=cursor.fetchall()
printResults(result)
print("----------------------------------------------------------------------------------------------")
with connection.cursor() as cursor:
    cursor.execute("select * from subscribe")
    result=cursor.fetchall()
printResults(result)
print("----------------------------------------------------------------------------------------------")
with connection.cursor() as cursor:
    cursor.execute("select * from works")
    result=cursor.fetchall()
printResults(result)

c_id           	c_name         	c_gender       	c_age
1              	baris          	male           	22
2              	kemal          	male           	25
3              	arda           	male           	15
4              	gamze          	female         	54
5              	isil           	female         	46
6              	nur            	female         	37
7              	aleyna         	female         	62
8              	berk           	male           	23
9              	begum          	female         	64
10             	begum          	female         	44
11             	sadi           	male           	53
12             	mert           	male           	27
13             	arda           	male           	39
14             	nisa           	female         	49
15             	acun           	male           	25
16             	cem            	male           	75
17             	basak          	female         	32
18             	kerem          	male           	38
----------------------------------------------------------------------------------------------
g_id           	g_name
1              	Nisantasi
2              	Levent
3              	Hadimkoy
----------------------------------------------------------------------------------------------
pt_id          	pt_name        	pt_age
1              	omer           	25
2              	carolin        	24
3              	mark           	22
4              	mert           	32
5              	oyku           	18
6              	yagmur         	24
7              	umut           	38
8              	polat          	40
9              	adnan          	48
----------------------------------------------------------------------------------------------
c_id           	g_id           	s_start_date   	s_end_date
1              	1              	2019-01-05     	2020-01-05
1              	2              	2019-06-10     	2019-12-10
2              	3              	2019-04-15     	2019-07-15
3              	3              	2019-04-15     	2019-07-15
4              	1              	2020-01-05     	2021-01-05
5              	2              	2020-10-25     	2021-04-25
6              	3              	2020-03-11     	2021-06-11
7              	1              	2020-04-05     	2020-07-05
8              	2              	2020-12-23     	2021-12-23
9              	3              	2020-12-05     	2022-12-05
10             	1              	2020-12-13     	2023-12-13
11             	2              	2020-09-10     	2023-09-10
12             	3              	2019-01-05     	2024-01-05
13             	1              	2018-04-12     	2021-03-12
14             	2              	2019-03-06     	2019-03-06
15             	3              	2019-09-20     	2020-09-20
16             	1              	2018-01-01     	2019-01-01
17             	2              	2020-01-20     	2020-02-29
18             	3              	2020-04-12     	2020-10-12
----------------------------------------------------------------------------------------------
pt_id          	g_id
1              	1
2              	2
3              	3
4              	1
5              	2
6              	3
7              	1
8              	2
9              	3

In [43]:
with connection.cursor() as cursor:
    cursor.execute("select personal_trainer.*,works.g_id from personal_trainer inner join works on personal_trainer.pt_id=works.pt_id")
    result=cursor.fetchall()
#print(list(result[0].keys())[0] )##IT TAKES DICTIONARY HEADLINES BUT IT MUST BE DICT

CUSTOMER COMPLEX

In [44]:
##CUSTOMER AND SUBSCRIBE TABLE INNER JOIN
with connection.cursor() as cursor:
    cursor.execute("select customer.*,subscribe.g_id from customer inner join subscribe on customer.c_id=subscribe.c_id")
    result=cursor.fetchall()
printResults(result)

c_id           	c_name         	c_gender       	c_age          	g_id
1              	baris          	male           	22             	1
1              	baris          	male           	22             	2
2              	kemal          	male           	25             	3
3              	arda           	male           	15             	3
4              	gamze          	female         	54             	1
5              	isil           	female         	46             	2
6              	nur            	female         	37             	3
7              	aleyna         	female         	62             	1
8              	berk           	male           	23             	2
9              	begum          	female         	64             	3
10             	begum          	female         	44             	1
11             	sadi           	male           	53             	2
12             	mert           	male           	27             	3
13             	arda           	male           	39             	1
14             	nisa           	female         	49             	2
15             	acun           	male           	25             	3
16             	cem            	male           	75             	1
17             	basak          	female         	32             	2
18             	kerem          	male           	38             	3

In [45]:
##WE TAKE PERSONAL TRAINER NAMES WHO WORKS WITH SELECTED CUSTOMER BY ENTERING CUSTOMER ID 
with connection.cursor() as cursor:
    cursor.execute("select pt_name  from personal_trainer where pt_id=ANY(select pt_id from works where g_id=ANY (select g_id from subscribe where c_id =1))")
    result=cursor.fetchall()
printResults(result)

pt_name
omer
mert
umut
carolin
oyku
polat

GYM COMPLEX

In [46]:
##GYM AND WORKS TABLE INNER JOIN
with connection.cursor() as cursor:
    cursor.execute("select gym.*,works.pt_id from gym inner join works on gym.g_id=works.g_id")
    result=cursor.fetchall()
printResults(result)

g_id           	g_name         	pt_id
1              	Nisantasi      	1
2              	Levent         	2
3              	Hadimkoy       	3
1              	Nisantasi      	4
2              	Levent         	5
3              	Hadimkoy       	6
1              	Nisantasi      	7
2              	Levent         	8
3              	Hadimkoy       	9

In [47]:
##BY INSERTING GYM ID WE GET THE OLDEST MEMBER'S AGE
with connection.cursor() as cursor:
    cursor.execute("select max(c_age) as Oldest_member from customer where c_id=ANY (select c_id from subscribe where g_id=2)")
    result=cursor.fetchall()
printResults(result)

Oldest_member
53

PERSONAL TRAINER COMPLEX

In [48]:
##PERSONAL TRAINERS AND WORKS TABLE INNER JOIN
with connection.cursor() as cursor:
    cursor.execute("select personal_trainer.*,works.g_id from personal_trainer inner join works on personal_trainer.pt_id=works.pt_id")
    result=cursor.fetchall()
printResults(result)

pt_id          	pt_name        	pt_age         	g_id
1              	omer           	25             	1
2              	carolin        	24             	2
3              	mark           	22             	3
4              	mert           	32             	1
5              	oyku           	18             	2
6              	yagmur         	24             	3
7              	umut           	38             	1
8              	polat          	40             	2
9              	adnan          	48             	3

In [49]:
##AVERAGE CUSTOMER AGES SELECTING BY PT_ID
with connection.cursor() as cursor:
    cursor.execute("select avg(c_age) from customer where c_id = ANY (select c_id from subscribe where g_id=ANY(select g_id from works where pt_id =2))")
    result=cursor.fetchall()
printResults(result)

avg(c_age)
37.5000

SUBSCRIBE COMPLEX

In [50]:
##SUBSCRIBE AND  GYM INNER JOIN
with connection.cursor() as cursor:
    cursor.execute("select subscribe.*,gym.g_name from subscribe inner join gym on subscribe.g_id=gym.g_id order by c_id ASC")
    result=cursor.fetchall()
printResults(result)

c_id           	g_id           	s_start_date   	s_end_date     	g_name
1              	1              	2019-01-05     	2020-01-05     	Nisantasi
1              	2              	2019-06-10     	2019-12-10     	Levent
2              	3              	2019-04-15     	2019-07-15     	Hadimkoy
3              	3              	2019-04-15     	2019-07-15     	Hadimkoy
4              	1              	2020-01-05     	2021-01-05     	Nisantasi
5              	2              	2020-10-25     	2021-04-25     	Levent
6              	3              	2020-03-11     	2021-06-11     	Hadimkoy
7              	1              	2020-04-05     	2020-07-05     	Nisantasi
8              	2              	2020-12-23     	2021-12-23     	Levent
9              	3              	2020-12-05     	2022-12-05     	Hadimkoy
10             	1              	2020-12-13     	2023-12-13     	Nisantasi
11             	2              	2020-09-10     	2023-09-10     	Levent
12             	3              	2019-01-05     	2024-01-05     	Hadimkoy
13             	1              	2018-04-12     	2021-03-12     	Nisantasi
14             	2              	2019-03-06     	2019-03-06     	Levent
15             	3              	2019-09-20     	2020-09-20     	Hadimkoy
16             	1              	2018-01-01     	2019-01-01     	Nisantasi
17             	2              	2020-01-20     	2020-02-29     	Levent
18             	3              	2020-04-12     	2020-10-12     	Hadimkoy

In [51]:
##CHANGING ORDER - ORDERED BY GYM ID
with connection.cursor() as cursor:
    cursor.execute("select * from subscribe order by g_id asc")
    result=cursor.fetchall()
printResults(result)

c_id           	g_id           	s_start_date   	s_end_date
1              	1              	2019-01-05     	2020-01-05
10             	1              	2020-12-13     	2023-12-13
7              	1              	2020-04-05     	2020-07-05
13             	1              	2018-04-12     	2021-03-12
4              	1              	2020-01-05     	2021-01-05
16             	1              	2018-01-01     	2019-01-01
5              	2              	2020-10-25     	2021-04-25
17             	2              	2020-01-20     	2020-02-29
8              	2              	2020-12-23     	2021-12-23
14             	2              	2019-03-06     	2019-03-06
1              	2              	2019-06-10     	2019-12-10
11             	2              	2020-09-10     	2023-09-10
15             	3              	2019-09-20     	2020-09-20
12             	3              	2019-01-05     	2024-01-05
9              	3              	2020-12-05     	2022-12-05
6              	3              	2020-03-11     	2021-06-11
3              	3              	2019-04-15     	2019-07-15
2              	3              	2019-04-15     	2019-07-15
18             	3              	2020-04-12     	2020-10-12

WORKS COMPLEX

In [52]:
##GYM AND  PERSONAL TRAINER INNER JOIN
with connection.cursor() as cursor:
    cursor.execute("select works.*,personal_trainer.pt_name from works inner join personal_trainer on works.pt_id=personal_trainer.pt_id ")
    result=cursor.fetchall()
printResults(result)

pt_id          	g_id           	pt_name
1              	1              	omer
2              	2              	carolin
3              	3              	mark
4              	1              	mert
5              	2              	oyku
6              	3              	yagmur
7              	1              	umut
8              	2              	polat
9              	3              	adnan

In [53]:
##CHANGING ORDER - ORDERED BY GYM ID
with connection.cursor() as cursor:
    cursor.execute("select * from works order by g_id asc")
    result=cursor.fetchall()
printResults(result)

pt_id          	g_id
1              	1
4              	1
7              	1
2              	2
5              	2
8              	2
3              	3
6              	3
9              	3